.profile{
    margin: 10px auto;
    max-width: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 400px;
    
    

 
    
    
}

.image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.boton{
  font-size: 14px;  
}