.contenedor-form {
  margin: 10px auto;
  max-width: 400px;
}

legend {
  text-transform: uppercase;
}
form {
  background-color: black;
  padding: 20px;
  color: white;
  font-weight: 600;
}

label {
  margin: 10px;
}

.formulario {
  background-color: white;
  color: black;
  width: 360px;
  height: 29.2px;
  font-size: 12px;
}
